<div>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

    <label for="number">Number</label>
    <input formControlName="number" id="number"/>

    <label for="type">type</label>
    <input formControlName="type" id="type" />

    <label for="name">name</label>
    <input formControlName="name" id="name" />

    <label for="postalCode">postalCode</label>
    <input formControlName="postalCode" id="postalCode" />

    <label for="city">city</label>
    <input formControlName="city" id="city" />

    <button type="submit">Submit</button>
</form>
</div>

<app-adresses [name]="name" [type]="type" [number]="number" [postalCode]="postalCode" [coordY]="coordY" [coordX]="coordX" [city]="city"></app-adresses>