<div class="d-flex justify-content-between">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="number">Numéro de rue :</label>
            <input type="number" formControlName="number" placeholder="..." id="number" class="form-control" />
        </div>

        <div class="form-group">
            <label for="type">Type de rue :</label>
            <input formControlName="type" placeholder="Rue, avenue, ..." id="type" class="form-control" />
        </div>


        <div class="form-group">
            <label for="name">Nom de rue : </label>
            <input formControlName="name" placeholder="Des lilas" id="name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="postalCode">Code Postal :</label>
            <input type="number" formControlName="postalCode" placeholder="75001" id="postalCode" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="city">Ville :</label>
            <input formControlName="city" placeholder="Paris" id="city" class="form-control rounded-right" required/>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
    <app-messages class="ml-4"></app-messages>
</div>
<app-adresses [name]="name" [type]="type" [number]="number" [postalCode]="postalCode" [city]="city"></app-adresses>