<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <label for="id">Id</label>
    <input formControlName="id" id="id" />

    <label for="number">Number</label>
    <input formControlName="number" id="number" />

    <label for="type">type</label>
    <input formControlName="type" id="type" />

    <label for="name">name</label>
    <input formControlName="name" id="name" />

    <label for="postalCode">postalCode</label>
    <input formControlName="postalCode" id="postalCode" />

    <label for="city">city</label>
    <input formControlName="city" id="city" />

    <button type="submit">Submit</button>
</form>

<app-adresses [showMePartially]="showVar" [id]="id" [name]="name" [type]="type" [number]="number" [postalCode]="postalCode" [coordY]="coordY" [coordX]="coordX" [city]="city"></app-adresses>